<body>
  <script src = "/socket.io/socket.io.js"></script>






  <h1>you made it</h1>

  <div id="lobby-holder">
    <div class="panel" id='leftpanel'>
      <div id="nameholder">

      </div>
      <div id="usernamepicker">
        <input type="text" id="newusername" value="">
        <button type="button" id="changeusername">Change Username</button>
      </div>


    </div>
    <div id="center-panel" class='panel'>
      <div id="start-area">
        <div id="picholder">
          <img src="" id="gamepic">
        </div>

        <div id="waitmessage">
          Waiting for the host to start the game...
        </div>

      </div>
    </div>
    <div class="panel" id='rightpanel'>


      <!-- Game stuff here -->



      <!-- This could also be on the index page  -->
      <div id="rulesbox">
        <button type="button" id="rulebutton">Rules</button>

      </div>

    </div>


  </div>
  <script src='/javascripts/gamescript.js'></script>


</body>
