<link rel="stylesheet" href="stylesheets/waitstyles.css">
</head>
<body>
<script src = "/socket.io/socket.io.js"></script>



<main class="lingrad">
  <div id="slideshowholder">
    <button id='backbutton' type="button" name="button" onclick="exit()">X</button>

    <div class="buttonholder">

      <button type="button" name="button" id='prevbut' class='changebut' onclick='prevslide()'>&#8249</button>


    </div>


  <div id="mainshow">
    <div class="slidepage" id="slide0">
      <h1>Tetris Buddies</h1>
      <h2>An asymmetric co-op tetris game. Not currently spelled with a Z.</h2>

    </div>

    <div class="slidepage" id="slide1">
      <h1>The Tetris Part</h1>
      <p>You know tetris. The blocks fall, and you maneuver them to
      form complete rows, which then get removed. If the blocks reach the top, you lose.
    If you DON'T know tetris, this isn't the right game to start with. Here are the controls... </p>
    <div>
      <p><span style="font-weight:bold">ARROW LEFT</span><span style="float:right">move left</span></p>
      <p><span style="font-weight:bold">ARROW RIGHT</span><span style="float:right">move right</span></p>
      <p><span style="font-weight:bold">ARROW UP</span><span style="float:right">rotate</span></p>
      <p><span style="font-weight:bold">ENTER</span><span style="float:right">auto-drop</span></p>

    </div>

    </div>

    <div class="slidepage" id="slide2">
      <h1>The Buddies Part</h1>
      <p>With every new piece, the controls are divided up amongst members of team. One
      team member may only be able to move the piece to the left, another to the right, etc. You have to work together with your team to
  maneuver the piece the way you want. The exception is auto-drop, which every player can always do.</p>
  <p>For a given piece, you may have no controls (besides auto-drop). You may have all the controls. Players can overlap with what controls they have</p>
  <p>The only guaruntee is that every control will available to at least one person.</p>
  <br>
  <p>If a player tries to use a control they don't have, the piece auto-drops.</p>

    </div>
    <div class="slidepage" id="slide3">
      <h1>Game Modes</h1>
      <p>There are three modes to choose from.</p>
      <br>
      <p><span style="font-weight:bold">Classic Mode</span><span style="float:right">Players can see everyone's controls.</span></p>
      <p><span style="font-weight:bold">Self View</span><span style="float:right">Players can each see only their own controls.</span></p>
      <p><span style="font-weight:bold">Buddy View</span><span style="float:right">Players can each see only everyone <i>else's</i> controls</span></p>
      <br>
      <p>As you can imagine, it's essential for your team to communicate information quickly and efficiently.
      </p>

      <h2>Good Luck!</h2>




      </div>


  </div>
  <div class="buttonholder">
    <button type="button" name="button" id='nextbut' class='changebut' onclick='nextslide()'>&#8250</button>


  </div>
  </div>


  <div id="centerpanel" class="bubbleborder ">




<div id="headwrapper" class='tetristitle'>
  <h1 >Tetris Buddies</h1>
  <h2>A Co-op Tetris Game of Asymmetrical Information</h2>
  <h4>Not currently spelled with a Z</h4>

</div>

<div id="formwrapper">
  <form class="" action="/create" method="post" id='creatorform'>
    <div class="inputwrapper" >
      <input type="text" name="roomname" value="" id='roomname' placeholder="Room Name" class="centerbutton" autocomplete="off">

    </div>

    <div class="inputwrapper">
      <input type="submit" name="" value="Create Room" class="centerbutton" >


    </div>


  </form>

</div>

<div class="inputwrapper" id='ruleswrapper'>
  <button type="button" name="button" id='rulebutton' class="centerbutton">Learn the Rules</button>

</div>
</div>
</main>
<script src='javascripts/interface.js'>

</script>

</body>
