<body>
  <script src = "/socket.io/socket.io.js"></script>
  <script src= "/javascripts/waitroom.js">

  </script>

  <h1>{{ title }}</h1>
  <div id="roomgetter">
    <button type="button" name="button" id='createbutton' onclick="$('#creatorform').show(); $('#joinerlist').hide()">Create</button>
    <button type="button" name="button" id='joinbutton' onclick="$('#creatorform').hide(); $('#joinerlist').show()">Join</button>


  </div>
  <div id="joinerlist">
    <h2>Join a Room</h2>



    <div id=buttonlist>
      {{#each rooms}}
      <button type="button" class="collapsible">{{this}}</button>
        <div class="content">
          <form class="" action="/join/{{this}}" method="post">

            <label for="guesspassword">Password</label>
            <input type="text" name="guesspassword" value="">
            <div>
              <button type="submit" name="joinattempt" value={{this}}>Join Room</button>
            </div>

          </form>
        </div>
      {{/each}}
    </div>

  </div>






  <form action="/create" method="post" id='creatorform'>
  <div>
      <label>Room Name:</label>
      <input type="text" name="roomname" />
      <br/>
  </div>

  <div>
    <label for="privacy">Room Privacy:</label>

    <select name="privacy" id="privacy">
      <option value="public" id='pickpub'>Public</option>
      <option value="private" id='pickpriv'>Private</option>
      <option value="hidden" id='pickhid'>Hidden</option>

    </select>
  </div>



  <div id='passzone' data-show-if="privacy:private">
      <label>Room Password:</label>
      <input type="text" name="password" />
      <br/>
  </div>

  <div>
      <input type="submit" value="Submit" />
  </div>
</form>
<script type="text/javascript">
var socket = io()
$('#privacy').on('change', function(){
  $('#passzone').hide()
  if (this.value == 'private'){
    $('#passzone').show()
  }
})


var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>


</body>
